<div>
<!-- j'affiche les lettres du tirage séparées par un espace -->
  <H1><%= @letters.shuffle.join(' ') %></H1>
</div>

<div>
<!-- j'affiche un formulaire de reponse -->
  <form action="score" method="post" data-turbo="false">
    <input type="text" name="word" id="word" placeholder="Votre mot" />
    <input type="submit" value="Submit" />
<!-- je mets un champ caché qui intégrera la clé d'authentification -->
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
